* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 80;
    
    text-decoration: none;
}

html {
    color: rgb(193, 125, 125);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(resouces/images/img/hero.jpg) ;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    padding-bottom: 100px;

}

.row {
    
    max-width: 1140;
    margin: 0 auto;
}

.hero-text-box {
    width: 1140px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-60%,-60%);
    color: white;
    font-size: 150%;
    text-transform: uppercase;

}

.logo {
    margin: 20px;
    padding-left: 40px;
    height: 100px;
    width: auto;
}

.flex-box {
    display: flex;
    justify-content: flex-end;

}

li {
    list-style: none;
    
}
a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;  
    border: 20px solid transparent;
    padding: 10px;
}
a:link {
    border: white;
}
a:visited {
    color: white;
}
a:hover, a:active {
    border-bottom: 3px solid orange;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    color: #fff;
}
.btn-ghost {
    border-style: solid;
    color: #e67e22;


}
.btn btn-ghost {
    border-style: solid;
}
.btn-full {
    text-decoration: none;
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
}

.btn-full:hover, .btn-full:active, .btn-ghost:active {
    border: 1px solid #cf6d17;
}
.btn:hover, btn.active {
    background-color: #cf6d17;
}

.btn-ghost:active,  .btn-ghost:hover{
    border: 1px solid #cf6d17;
    color: #fff;
}
 .getfood {
    background-color:aliceblue;    
    
    padding-top: 100px;

}
.flex-box2 {
    color: grey;
    height: 500px;
    font-weight: 80px;
    overflow: hidden;
    height: 750px;
}

h2 {
    margin-left: 350px;
    font-size: 40px;
    
}

h2:after {
    display:block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin:auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 650px;
}

.p1{
    margin: auto;
    margin-left: 250px;
    padding: 20px;
    margin-bottom: 40px;
}
.h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.column {
 color: black;
 float:left;
 margin: 0;
 width: 25%;
 padding: 50px;
}
.lp {
    margin-bottom: 100px;
}
.icon {
    font-size: 350%;
    display: block;
    margin-bottom: 10px;
    color: #e67e22;
}
.row2{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;

}
.c2 {
    float: left;
    width: 25%;
    margin: 0;
    overflow: hidden;
    background-color: black; 
    height: 265px;
    
}

.c2 img {
    height: auto;
    width: 100%;
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
}
.c2 img:hover {
    opacity: 1;
    transform: scale(1.01);
}

.h22 {
    color: grey;
    margin-left: 350px;
    font-size: 40px;

    
}

.h22:after {
        display:block;
        height: 2px;
        width: 100px;
        background-color: #e67e22;
        content: " ";
        margin:auto;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-right: 650px;
        
}
.aside {
    font-weight: 100px;
    background-color: aliceblue;
    padding-top: 600px;    
}
.flex4 {
    margin-left: 500px;
    margin-right: 0px;
}
.btn-app {

    padding: 0px;
    margin-right: 0px;
}

.iphone {
    margin-top: 100px;    
    float: left;
    height: 500px;
    margin-left: 150px;
}
.num1 {
    display: inline-block;
    border-style: solid;
    padding: 20px;
    margin: 10px;
    height: 70px;
    width: 60px;
    border-radius: 50%;
    font-size: 25px;
    color: #cf6d17;
    
}
.row3 {
    margin-top: 150px;
    color: grey;
}
.p123 {
    float: right;
    padding: 30px;
    margin-right: 100px;
    display: inline-block;
    
}
.p12 {
    margin-left: 545px;
    padding-top: 30px;
}
.p13 {
    margin-left: 545px;
    padding-top: 30px;
}
.btn-app:link, btn-app:visited {
    border: 0;
}
.btn-app img {
    height: 50px;
    width: auto;
    margin-left: 5px; 
    margin-bottom: 150px;   
}
.h23 {
    color: grey;
    margin-top: 100px;
}
.h23:after {
    display:block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin:auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 650px;
}
.cities {
    height: 210px;
    width: auto;
    margin: 15px;
}
.city {
    font-size: 25px;
    margin: 20px;
    color: grey;
    padding: 5px;
}
.c4 {
    float:left;
    margin: 0;
    width: 25%;
    padding: 10px;

}
.row4:after {
    content: "";
    display: table ;
    clear: both;
}
.c {
    color: grey;
    margin-left: 20px;
}
.q {
    color: #cf6d17;
    margin: 5px;
    font-size: 100%;

}
.hh2:after {
    display:block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin:auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 550px;
}

.w {
    margin-left: 0;
    font-size: 20px;
}
.e{
    margin-left: 0;
    font-size: 20px;
}
.art {
    color: white;
    padding: 100px;
    font-size: 25px;
    margin-top: 200px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resouces/images/img/back-customers.jpg);
    background-size: cover;
    height: 110vh;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    margin-right: 40px;
    font-style: italic ;
    line-height: 140%;
    position: relative; 
    margin-top: 40px;
}
blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}
cite {
    font-style: italic;
}
.hh2 {
    margin-left: 175px;
}
.roww:after {
    font-weight: 100px;
    content: "";
    display: table ;
    clear: both;
}
.cc {
    float: left;
    width: 30%;
    margin-right: 20px;
}
.customer {
    height: 60px;
    border-style: hidden;
    margin-top: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.plan {
    padding-top: 100px;
    background-color: #f4f4f4;
    
}
.h221 {
    color: grey;
    font-weight: 50;
    margin-left: 400px;
}
.row6:after {
    content: "";
    display: table;
    clear: both;
}
.c6 {
    float: left;
    width: 25%;
    border-style: solid;
    border-color: white;
    padding: 50px;
    margin: 55px;
    background-color: #fcfcfc;
    box-shadow: 0 2px 2px #cac5c5;
    color: grey;
    height: 400px;
    margin-bottom: 100px;
}
.bo {
    font-size: 100%;
    font-weight: 300;
    border-bottom: 2px solid #e8e8e8;
}
.mon {
    font-size: 250%; 
    font-weight: 100;
    color: #e67e22;
    padding: 10px;
}
.bo2 {
    border-bottom: 2px solid #e8e8e8;
    font-weight: 100;
    font-size: 250%; 
    color: #e67e22;
    padding: 20px;
}
.check {
    
    font-size: 80%;
}
.check2 {
    font-size: 80%;
}
.sign {
    border-color: #e67e22;
    margin-top: 30px;
    border-style: solid;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e67e22;    
    
}
.sign1 {
    border-color: #e67e22;
    margin-top: 30px;
    border-style: solid;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.sign1:link {
    text-decoration: none;    
}

.happy {
    background-color: white;
    padding-top: 50px;
    border-style: solid;
    border-width: 1px;
    border-bottom: none;
    border-top: hidden;
    opacity: 0.7;
    border-color: black;
    float: right;
    padding-left: 48px;
    text-align: center;
    font-size: 40px;
    color: grey;
    font-weight: 100;
}
.happy:after {
    display:block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin:auto;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-right: 300px;
    margin-left: 350px;
}
.col7 {
    opacity: 0.7;
    float: right;
    font-size: 25px;
    width: 800px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-top: black;
    padding: 25px;
    background-color: white;
}

input, select {
    font-size: 25px;
}

.drop {
    
    margin-bottom: 100px;
} */
input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}
input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
.sendit {
    border-style: solid;
    border-radius: 50px;
    background-color: #e67e22;
    border-color: #e67e22;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.map {
    
    color: grey;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://storage.googleapis.com/gweb-cloudblog-publish/images/MapImage1.max-600x600.png);
    height: 800px;
    background-repeat:no-repeat;
    background-size: cover;

}
.side {
    float: right;
}
.side1 {
    float: right;
    
}
.sendit {
    margin-top: 50px;
    margin-left: 300px;
}
.footer {
    background-color:#303030 ;
    height: 200px;
    overflow: hidden;
    color: grey;

}
.span1 {
    text-decoration: none! important;  
    overflow: hidden;
    color: grey;   
}
.copy {
    margin-left: 550px;
}
.lastc {
    color:grey;
    font-size: 15px;
    padding-top: 60px;
  
}
.lastc2 {
    margin-right: 50px;
    word-spacing: 20px;
    color: grey;
    float: right;    
    text-decoration: none;
}
